/* --------------- GENERAL --------------- */
:root {
  --main-text: #757575;
  --white-text: #ffffff;
  --secondary-text: #212121;
  --accent: #2196f3;
  --logo-font: 'Raleway', sans-serif;
  --section-typ-padding: 94px;
}

html {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

body {
  background-color: #ffffff;
  color: var(--main-text);
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 1px solid red; */
}

.section {
  padding-top: var(--section-typ-padding);
  padding-bottom: var(--section-typ-padding);
}

/* --------------- MAIN PAGE --------------- */

/* --------------- HEADER --------------- */

.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-logo {
  color: var(--secondary-text);
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: block;
  margin-right: 93px;
}

.logo-blue {
  color: var(--accent);
}

.header-nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent);
}

.header-nav-link.current {
  color: var(--accent);
}

.header-nav-list {
  display: flex;
}

/* header-contacts */
.header-mail,
.header-tel {
  color: var(--main-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
}

.header-mail:hover,
.header-tel:hover,
.header-mail:focus,
.header-tel:focus {
  color: var(--accent);
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts .header-contacts-item + .header-contacts-item {
  margin-left: 50px;
}

/* --------------- MAIN --------------- */
.hero {
  max-width: 1600px; /*need to confirm */
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/hero-bcg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero .container {
  width: 696px;
}

.hero-title {
  color: var(--white-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero-button {
  background-color: var(--accent);
  color: var(--white-text);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 32px 10px 32px;
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

/* --------------- VALUES/SERVICES --------------- */
/* VALUES */
.values-list {
  display: flex;
  margin-bottom: var(--section-typ-padding);
}

.values-list-item {
  width: calc((100% - 90px) / 4);
}

.values-list-item:not(:last-child) {
  margin-right: 30px;
}

.values-block {
  display: flex;
  justify-content: center;
  background: #f5f4fa;
  border-radius: 4px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
}

.values-list-icon {
  width: 70px;
  height: 70px;
}

.val-headline {
  color: var(--secondary-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  /* width: 270px; */
}

.val-descr {
  color: var(--main-text);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  /* width: 270px; */
}

/* SERVICES */
.services-images {
  display: flex;
}

.services-img-item {
  width: calc((100% - 60px) / 3);
}

.services-img-item:not(:last-child) {
  margin-right: 30px;
}

.title {
  color: var(--secondary-text);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

/* --------------- TEAM --------------- */
.team-members {
  display: flex;
}

.team-member-item {
  width: calc((100% - 90px) / 4);
}

.team-member-item:not(:last-child) {
  margin-right: 30px;
}

.team-member-item {
  background-color: var(--white-text);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member-item .team-member-info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-members-name {
  color: var(--secondary-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-members-position {
  color: var(--main-text);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team {
  background-color: #f5f4fa;
}

.team-social-list {
  display: flex;
  justify-content: space-around;
}

.team-social-item {
  width: 44px;
  height: 44px;
  background-color: teal;
  margin-right: 10px;
}

.team-social-item:last-child {
  margin-right: 0;
}

/* --------------- CLIENTS ---------------- */

.clients {
  padding-top: var(--section-typ-padding);
  padding-bottom: var(--section-typ-padding);
}

.clients-list {
  display: flex;
  /* outline: 1px solid red; */
}

.clients-list-item {
  margin-right: 30px;
  width: calc((100% - 150px) / 6);
  /* outline: 1px solid red; */
}

.clients-list-item:last-child {
  margin-right: 0;
}

.client-item-link {
  display: block;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding-top: 16px;
  padding-bottom: 16px;
  outline: 1px solid red;
}

.clients-logo {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  outline: 1px solid red;
}

.clients-list-item .client-item-link:hover .clients-logo,
.clients-list-item .client-item-link:focus .clients-logo {
  fill: var(--accent);
}

/* --------------- FOOTER ---------------- */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-address {
  color: var(--white-text);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-logo {
  font-family: var(--logo-font);
  color: var(--white-text);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  display: inline-block;
}

/* FOOTER CONTACTS */
.footer-mail,
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-contacts {
  margin-top: 9px;
}

.footer-contacts .footer-contacts-item + .footer-contacts-item {
  margin-top: 9px;
}

.footer-mail:hover,
.footer-tel:hover,
.footer-mail:focus,
.footer-tel:focus {
  color: var(--accent);
}

/* FOOTER SOCIAL */
.social-title {
  color: var(--white-text);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer .container {
  display: flex;
}

.footer-contact-block {
  margin-right: 70px;
}

/* --------------- PORTFOLIO PAGE ---------------- */
.portfolio-filter {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.social-list {
  display: flex;
}

.social-list-item {
  background-color: teal;
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.port-filter-btn {
  color: var(--secondary-text);
  background-color: #f5f4fa;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px 6px 22px;
  border-radius: 4px;
  border: none;
}

.portf-filter-item:not(:last-child) {
  margin-right: 8px;
}

.port-filter-btn:hover,
.port-filter-btn:focus {
  color: var(--white-text);
  background-color: var(--accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-item .portfolio-item-info {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-item-name {
  color: var(--secondary-text);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-bottom: 4px;
}

.portfolio-item-service {
  color: var(--main-text);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
